*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.gameboard {
    display: grid;
    grid-template: repeat(3 , 1fr) / repeat(3 , 1fr);
    width: 350px;
    height: 350px;
    justify-content: center;
    margin-left: 37.3%;
    gap: 25px;
}
.box{
    background-color: rgba(255, 255, 255, 0);
    font-size: 45px;
    font-family: Teko, 'Times New Roman', Times, serif;
    text-align: center;
    border: 0.2rem solid #fff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #025aff,
    0 0 0.8rem #025aff,
    0 0 2.8rem #025aff,
    inset 0 0 1.3rem #025aff; 
    color: #fff;
    transition: all .2s ease-in-out;
 }
.box:hover ,.buttons > button:hover{
    transform: scale(1.1);
}
h1{
    text-align: center;
    font-size: 80px;
    font-family: Teko , 'Times New Roman', Times, serif; 
    font-style: italic;  
    color: #fff;
    padding: 5px;
    padding-bottom: none;
}

.displayTurn{
    text-align: center;
    font-size: 45px;
    font-family: Teko , 'Times New Roman', Times, serif;
    font-style: italic;  
    color: #ffffff;
    padding: 5px;
    padding-top: none;

}
.buttons{
    align-self: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0px 10px 25px 10px;
}
.buttons > button{
    text-align: center;
    font-size: 30px;
    font-family: Teko , 'Times New Roman', Times, serif;
    font-weight: 70; 
    font-style: italic;  
    color: #fff;
    background-color: #ffffff00;
    border: none;
    transition: all .2s ease-in-out;

}
form{
    background-color: rgb(7, 37, 77);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-family: Teko, 'Times New Roman', Times, serif;
    border: 0.2rem solid #fff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #064392,
    0 0 0.8rem #064392,
    0 0 2.8rem #064392,
    inset 0 0 1.3rem #064392; 
    color: #fff;
}
#form-dialog{
    position: absolute;
    top: 130px;
    left: 35%;
    height: 422px;
    width: 400px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
input{
    margin-left: 20px;
    font-family: Teko, 'Times New Roman', Times, serif;
    border: 0.2rem solid #fff;
    border-radius: 15px;
    padding-left: 10px;
    color: #064392;
    font-size: 25px;
}
input:focus{
    outline: none;
}
input[type='radio']{
    color: black;
    box-shadow: none;
}
form > button{
    text-align: center;
    font-size: 30px;
    font-family: Teko , 'Times New Roman', Times, serif;
    font-weight: 70; 
    font-style: italic;  
    color: #fff;
    background-color: #062b9279;
    border: 2px solid white;
    align-self: center;
    padding: 13px;
    border-radius: 15px;
    box-shadow: 
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #064392,
    0 0 0.8rem #064392,
    0 0 2.8rem #064392,
    inset 0 0 1.3rem #064392; 
}
